{
  "extends": "airbnb",
  "rules": {
    "quotes": [2, "single", {"avoidEscape": true}],
    "object-curly-spacing": [1, "never"],
    "curly": [2, "multi"],
    "prefer-template": 0,
    "no-underscore-dangle": ["error", { "allow": ['_id'] }]
    }
}
